{% extends 'base.html' %}


{% block hero %}
<p class="fs-5 mb-4">
    Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.
  </p>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <a href="{{ url_for('rider') }}" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Rider</a>
    <a href="{{ url_for('driver') }}" class="btn btn-outline-light btn-lg px-4">Driver</a>
  </div>
{% endblock %}


{% block content %}

<div class="container my-4">
  <h2>Fares will get calculated based on below formula:</h2>
  <h4 class="mx-2">Base + (distance * 6) + (minutes * 1.5) + Surge</h4>
  <ul>
    <li>Base: fixed amount based on vihecle</li>
    <li>distance in kilo meter</li>
    <li>Surge: etc factores that might vary the fare. (holiday, night time, weather condition, discounts, fines, and etc)</li>
  </ul>
</div>

{% endblock %}